/build/
nbproject/private/private.properties
nbproject/private/

nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

build/
dist/

*.class

*.swp
*~
.DS_Store
Thumbs.db

*.log

.vscode/
.idea/
*.iml
